name: PlatformIO CI

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: AutoModality/action-clean@v1
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio
      - name: Build PlatformIO Project
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_TOKEN }}
        run: PLATFORMIO_BUILD_FLAGS="-DDEBUG=0 -DDEMO=0" pio run -e solar-station-live -e solar-station-live-advance
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: .pio/build/*/firmware.bin
          retention-days: 2
